# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Env
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# Test coverage
coverage/

# Prisma
prisma/dev.db
prisma/*.sqlite

# Others
*.local
